<root>
<div id="static">
    Comment by <span class="username">Devin</span>:
    <article>Sample Text</article>
    <button class="edit">Edit</button>
</div>
<div id="editing">
    You are editing as <span class="username">Devin</span>:
    <br/><textarea rows="4" cols="50">Do not disturb!</textarea>
</div>
<div id="preview">
    This is an example. In fact, it belongs to <span class="username">Bob</span>.
    <br/><textarea rows="4" cols="50">Do not disturb!</textarea>
</div>
</root>
